.item { // item - это стили для div внутри index.jsx, который находится внутри Item
    position: relative;
    width: auto;
    text-align: center;
    margin: 75px 0;
    border: 1px solid black;
    border-radius: 7%;
    padding: 10px;
    overflow: hidden; // Скроет все выходящие края увеличиющейся картинки
    

    .hoverImg {
        border-radius: 7%;
        transition: transform 0.3s linear;
    }

    .hoverImg:hover {
        transform: scale(1.05);
    }

    .addToCard {
        position: absolute;
        right: 20px;
        bottom: 10px;
        width: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .addToCard:hover {
        transform: scale(1.05) translateY(-5px);
    }
    

}